.popup__name-field {
  position: absolute;
  width: 358px;
  height: 27px;
  top: 111px;
  left: 36px;
}

@media (max-width: 767px) {
  .popup__name-field {
    width: 238px;
    height: 27px;
    top: 122px;
    left: 22px;
  }
}
