.profile-info__status {
  margin: 16px 0 0;
  padding: 0;
  max-width: 350px;
  white-space: nowrap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
