.popup__submit-button {
  position: absolute;
  width: 358px;
  height: 50px;
  top: 243px;
  left: 36px;
  background: #000000;
  border-radius: 2px;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    top: 251px;
    left: 22px;
  }
}
