.popup__header {
  margin: 0;
  padding: 0;
  position: absolute;
  max-width: 330px;
  top: 34px;
  left: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media (max-width: 767px) {
  .popup__header {
    top: 25px;
    left: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }
}
