.popup__close-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
