.profile-info__name {
  margin: 0;
  padding: 0;
  max-width: 350px;
  white-space: nowrap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 48px;
  color: #FFFFFF;
  height: 39px;
}
